@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Student

<div class="toast-div me-0 d-absolute">
@if (TempData["reset-fail"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script type="text/javascript">
        toastr.error('@TempData["reset-fail"]', { "toastClass": "custom-toast-success" });
    </script>
}
</div>
<section class="registration-section my-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="registration-box p-4">
                    <h2 class="text-center mb-4">Create New Password</h2>
                    <form method="post" asp-action="ForgotPassword">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label asp-for="Password" for="password" class="form-label">Password</label>
                                    <input asp-for="Password" type="password" class="form-control" id="password"
                                           placeholder="Enter Your Password">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label asp-for="ConfirmPassword" for="confirm-password" class="form-label">Confirm Password</label>
                                    <input asp-for="ConfirmPassword" type="password" class="form-control" id="confirm-password"
                                           placeholder="Confirm Your Password">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group w-100">
                                    <button type="submit" class="btn btn-danger">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


