@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Student

<div class="toast-div me-0 d-absolute">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
@if (TempData["mail-success"] != null) 
{
        @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>*@

    <script type="text/javascript">
        toastr.success('@TempData["mail-success"]', { "toastClass": "custom-toast-error" });
        @*hello*@
    </script>
    <h1>HELLOOOO @TempData["mail-success"]</h1>
}
else if (TempData["user-not-exists"] != null)
{
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
*@
    <script type="text/javascript">
        toastr.error('@TempData["user-not-exists"]', { "toastClass": "custom-toast-error" });
    </script>
        <h1>HELLOOOO @TempData["mail-success"]</h1>

    
}
</div>
<section class="registration-section my-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="registration-box p-4">
                    <h2 class="text-center mb-4">Forgot Password</h2>
                    <form method="post" action="LostPasswordReq">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group mb-3">
                                    <label asp-for="EmailAddress" for="email-address" class="form-label">Email Address</label>
                                    <input asp-for="EmailAddress" type="email" class="form-control" id="email-address"
                                           placeholder="Enter your Email Address">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group w-100">
                                    <button type="submit" class="btn btn-danger">Send Email</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
